<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">24/7-Intouch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home.action_index')}}" up-follow>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home.action_timelogs')}}" up-follow>Timelogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home.action_report')}}" up-follow>Report</a>
                </li>
                {% if current_user.level == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin.action_view')}}">Admin</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav me-start mb-2 mb-lg-0">
                {% if user_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">&oast; {{current_user.username}}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.action_logout')}}">Logout &rightarrow;</a>
                </li>
            </ul>
        </div>
    </div>
</nav>