<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">247-intouch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.action_view') }}" up-follow>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('admin.action_users')}}" up-follow>Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('admin.action_timelogs')}}" up-follow>TimeLogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('admin.action_reports')}}" up-follow>Reports</a>
                </li>
            </ul>
            <ul class="navbar-nav me-start mb-2 mb-lg-0">
                {% if user_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">&oast; {{current_user.username}}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.action_logout')}}">Logout &rightarrow;</a>
                </li>
            </ul>
        </div>
    </div>
</nav>