{% extends 'layout/main_admin.html' %}


{% block content %}

    <div class="container py-5" id="d-view">
        
        <div class="row">
            <div class="col">
                <h4>User / Change Password / {{user.username}}</h4>
            </div>
        </div>
      
        <div class="row mt-3 g-3">
            <div class="col-sm-12 col-md-7">
                <a href="{{url_for('admin.action_user', uid=user.id)}}" 
                    class="btn btn-light border" up-follow>
                    &leftarrow; back
                </a>
                <div class="p-4 border rounded mt-3">
                {% with form=form_password, user=user %}
                    {% include 'htmx/admin/user-password.html' %}
                {% endwith %}
                </div>
            </div>
        </div>

        
    </div>

{% endblock content %}