<div id="d-user-password">
    <h5>Change password</h5>
    {{ msg|safe if msg else ''}}
    <form method="post" role="form" 
        hx-post="{{url_for('htmx_admin.action_edit_password', id=user.id)}}"
        hx-target="#d-user-password", hx-swap="outerHTML" hx-indicator=".d-loader">
        {{form.hidden_tag()}}

        <div class="py-2">
            {{form.new_password.label}}
            {{form.new_password(class='form-control')}}
            <small class="text-danger">{{form.new_password.errors[0]}}</small>
        </div>

        <div class="py-2">
            {{form.confirm_password.label}}
            {{form.confirm_password(class='form-control')}}
            <small class="text-danger">{{form.confirm_password.errors[0]}}</small>
        </div>

        <div class="py-2">
            <button type="submit" class="btn btn-primary">
                Save changes
            </button>
        </div>

    </form>

</div>