{% if current_user.id == details.user %}
<table class="table table-bordered">
    <tr>
        <td>
            <small class="text-muted">Entity:</small><br>
            {{details.entity}}
        </td>
        <td>
            <small class="text-muted">Client:</small><br>
            {{details.client}}
        </td>
    </tr>
    <tr>
        <td>
            <small class="text-muted">Department:</small><br>
            {{details.department}}
        </td>
        <td>
            <small class="text-muted">Hours:</small><br>
            {{details.hours}}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <small class="text-muted">Details:</small><br>
            <div  style="white-space: pre-wrap;">{{details.achieved}}</div>            
        </td>
    </tr>
</table>
{% endif %}