<!doctype html>
<html lang="en">
<head>
    <title>24/7-intouch TRACKING</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bs5/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}"/>
    <script src="{{ url_for('static', filename='bs5/js/bootstrap.js') }}"></script>
    {% block headtags %}{% endblock %}
</head>

<body>
    
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show rounded-0" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content%}{%endblock content %}
    </main>

</body>

</html>
